* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    }
body {
    font-family: 'Inter', sans-serif;
    color: #111;
    background-color: #f5f7ff;
    line-height: 1.6;
}

/*  Navbar  */
header {
    background: url('../Assets/Hero-bg.png') no-repeat center center;
    background-size: cover;
    padding: 20px 40px;
    
    height: 698px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px 158px 150px;
    text-align: center;
}

.logo {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.btn-signup:hover {
    background-color: #dbc81a;
    
}

/*  Banner Section  */
.banner-section {
    text-align: center;
    padding: 100px 20px 80px;
    }

.banner-heading {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    color: #252432;
}

.btn-primary {
    background-color: #4f46e5;
    color: #fff;
    border: none;
    padding: 12px 36px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.stay-btn{
    margin-bottom: 158px;
}
.stay-btn:hover{
    background-color: rosybrown;
}

.launch-btn:hover{
    background-color: #bd0dd4;
}

/*  Action Section */
.action-section {
    /* display: flex; */
    /* justify-content:center; */
    padding: 116px 150px;

}

.action-content {
    display: flex;
    background-position: 141px 814px;
    justify-content: space-between;
    margin: 16px 150px;

}

.action-left {
    max-width: 517px;
    height: 203px;
    /* border: 1px solid rebeccapurple; */
    padding: 62.5px 200px 62.5px 0px;
    
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.action-subtitle {
    color: #555;
    margin-bottom: 10px;
}

.action-right {
    
    max-width: 403px;
    height: 328px;
    border-radius: 40px;
    background-position: 737px;

}
/*  Productive Users Section  */
.productive-users-section {
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;
    text-align: center;
    margin: 16px 159px 137px 141px ;
    background-position: 141px 1258px;
    border-radius: 24px;
}

.users-title {
    font-size: 38px;
    font-weight: bold;
    margin: 50px 142px 40px 142px;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content:space-around;
    gap: 40px;
    flex-wrap: wrap;   
}

.stat-item {
  border-radius: 12px;
    padding: 20px;
    width: 150px;
    
}

.stat-number {
    font-size: 80px;
    font-weight: bold;
    color: #4f46e5;
    margin: 0px 9px 24px 9px;
    width: 162px; height: 97px;

}

.stat-label {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    margin: 0px 30px;
    display: inline;
     white-space: nowrap;
     text-align: center;
}

/* Testimonials Section  */
.testimonials-section {
    padding: 0px 20px;
    background-position: 151px 1700px;
    width: 1140px;
    margin: 0 auto;
    
}

.testimonials-title {
    text-align: center;
    font-size: 42;
    font-weight: bold;
    margin-bottom: 50px;
    /* border: 1px solid red; */
   
}

.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    /* border: 1px solid rebeccapurple; */
}

.testimonial-card {
    background:white;
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    text-align: center;
    margin-bottom: 137px;
}

.stars img {
    width: 16px;
}

.user-avatar img {
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

/*  Focus Section  */
.focus-section {
    background: #FFFFFF;
    padding: 71px 150px;
    text-align: center;
    width: 1140px;
    margin: 0 auto;
    /* margin-top: 137px; margin-right: 150px; margin-bottom: 92px; margin-left: 150px; */
}

.focus-title {
    font-size: 50px;
    font-weight: bold;
    display: inline;
    
}

.focus-section p {
    margin-bottom: 20px;
    color: #555;
    font-size: 16px;
}

.focus-section img {
    max-width: 100%;
    border-radius: 48px;
    margin-top: 20px; 
}

/*  Contact Section  */
.contact-section {
    padding: 71px ;
    background-position: 150px 2969px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 90px;
}

.contact-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 115px;
     
}

.contact-title {
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 100px; 
    margin-top: 100px;
    margin-bottom: 100px;

}

.contact-form {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}

.form-group {
    margin-bottom: 15px;
}

.form-group form {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.get-btn:hover{
 background-color:  #bd0dd4;
}
.get-btn{
    padding: 19px 100px;
}

/*  Footer Section  */
.footer-section {
    background: #f3f4f6;
    text-align: center;
    padding: 104px 455px;
    
    
}

.footer-logo {
    font-size: 100px;
    font-weight: 900;

    color: #4E47FF;
}

.footer-subtitle {
    color: #8987A1;
    max-width: 600px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;

}

.footer-links a {
    margin: 0 10px;
    color: #8987A1;
    text-decoration: none;
}

.footer-links a:hover {
    
}